* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    background-color: #201E1F;
    height: 100vh;
    width: 100vw;
    /* color: white; */
}

.respon {
    display: none;
}

#top-to-top-nav {
    margin-left: 55vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    margin-right: 0;
    padding-bottom: 2.9vh;
    padding-left: 3vw;
    padding-right: 3vw;
    /* border: 2px solid green; */
    border-left: 2px solid #898989;
    border-bottom: 2px solid #898989;
    border-bottom-left-radius: 30px;

    background-color: #232021;
    font-size: 1rem;
}

#top-to-top-nav a {
    text-decoration: none;
    color: #99A19D;
    text-align: center;
}

#login-register {
    display: flex;
    gap: 2vw;
    margin-top: .5vh;
}

#top-down-nav h3 {
    color: wheat;
    font-size: 2.5vw;
    text-align: center;
    align-items: center;

}

#top-down-nav {
    color: wheat;
    margin-top: 5vh;
    margin-right: 7vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 5% 7% 7% 5% 5% 5% 5% 3%;
    gap: 2vw;
    font-size: 1.3vw;
}

#top-down-nav #T {
    display: flex;
    gap: 2vw;
}

#top-down-nav #serc {
    background-color: #ff7b00;
    height: 3.5vh;
    width: 1.8vw;
    text-align: center;
    margin-left: 4.6vw;
    /* margin-top: .1vh; */
}

#top-down-nav input {
    height: 3vh;
    width: 8vw;
    margin-left: 3vw;
    text-align: 12vw;
    padding-left: 2vw;
}

#top-down-nav a {
    text-decoration: none;
    color: wheat;
    /* margin-left: 2vw; */
}

#top-down-nav #Home {
    padding: .5vw;
    text-align: center;
    border-radius: 10px;
    /* background: #ce2a2a; */
}

#top-down-nav #hos {
    padding-left: .5vw;
    padding-right: .6vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    border-radius: 10px;
    text-align: center;
    /* background: #ce2a2a; */
}

#top-down-nav #health {
    padding-left: .5vw;
    padding-right: .6vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
    border-radius: 10px;
    text-align: center;
    /* background: #ce2a2a; */
}

#top-down-nav #contect {
    padding: .5vw;
    text-align: center;
    border-radius: 10px;
    /* background: #ce2a2a; */
}

#top-down-nav #green {
    padding: .5vw;
    text-align: center;
    border-radius: 10px;
    /* background: #ce2a2a; */
}

#top-down-nav #resource {
    padding-bottom: .5vw;
    padding-left: .5vw;
    padding-top: .5vw;
    padding-right: .6vw;
    border-radius: 10px;
    text-align: center;
    /* background: #ce2a2a; */
}

#top-down-nav #hos:hover {
    background-color: orangered;
    transition: .4s;
}

#top-down-nav #health:hover {
    background-color: orangered;
    transition: .4s;
}

#top-down-nav #contect:hover {
    background-color: orangered;
    transition: .4s;
}

#top-down-nav #green:hover {
    background-color: orangered;
    transition: .4s;
}

#top-down-nav #resource:hover {
    background-color: orangered;
    transition: .4s;
}

#top-down-nav #Home:hover {
    background-color: orangered;
    transition: .4s;
}

#page1 {
    margin-top: 2vh;
    background: url(/code/products/point3d-commercial-imaging-ltd-Kqpw00namok-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;

    height: 80vh;
    width: 100vw;

}

#page1 h2 {
    padding-top: 3vh;
    padding-left: 9vw;
    line-height: 8vh;
    /* rotate: 16deg; */
    font-size: 2.8vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(243, 240, 240);
    /* color: transparent; */
}

#page1 button {
    padding: 3vh 2vw;
    font-size: 1.8vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 9vw;
    margin-top: 20vh;
    background-color: rgb(255, 69, 0);
    cursor: pointer;
    border: 2px;
    border-radius: 4vw;
}

#page1 button:hover {
    background-color: rgb(197, 55, 3);
}

#page2 {
    background: #000;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 6vw;
    /* text-align: center; */
    font-size: 1.5vw;
    align-items: center;
}

#page2 h2 {
    color: rgba(254, 255, 255, 0.808);
    text-align: center;
}

#page2 button {
    /* padding: .3vh; */
    margin: .8vw;
    padding: .8vh 2vw;
    font-size: 1.6vw;
    color: white;
    background-color: rgba(245, 67, 2, 0.925);
    border-radius: 5px;
    cursor: pointer;
}

#page3 {
    height: 70vh;
    width: 100vw;
    background: #4e4d4d;

}

#show {
    padding-top: 10vh;
    display: flex;
    /* gap: 2vw; */
    align-items: center;
    justify-content: center;
}

#show .box {
    background-color: antiquewhite;
    height: 40vh;
    width: 40vw;
}

#show #ek {
    background: url(/code/products/Linen\ Back\ Tab\ Curtain\ Panel\ for\ Dining\ Room\ -\ Custom\ Width\,\ Custom\ Length\ -\ 49\ _\ 116\ _\ Privacy\ Cotton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    z-index: 0;
    box-shadow: #898989;
    text-align: center;
}

#show .box h3 {
    font-size: 2vw;
    /* color: #ff000d; */
    margin-top: 30vh;
}

#show #thin {
    color: rgb(255, 255, 255);
}

#show #thin:hover {
    transform: scale(1.2);
    transition: .4s;
    z-index: 1;
}

#show #do {
    color: rgb(122, 0, 0);
}

#show #do:hover {
    transform: scale(1.2);
    transition: .4s;
}

#show #ek {
    color: rgb(0, 0, 0);
}

#show #ek:hover {
    transform: scale(1.2);
    transition: .4s;
}

#show #do {
    background: url(/code/products/Livin\ Blinds\ offers\ a\ stylish\ way\ to\ control….jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    text-align: center;

}

#show #thin {
    background: url(/code/products/b39df120-21d5-47cb-a4ab-6d4b9b771b63.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    text-align: center;

}

#showAll {
    border: 2px solid orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding-top: 2vh; */
    margin-top: 4vh;
    padding: 3vh 4vw;
    height: 5vh;
    width: 40vw;
    margin-left: 26vw;
    gap: 1.5vw;
}

#showAll h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2vw;
}

#showAll i {
    font-size: 2.3vw;
    color: white;
    background-color: #ff7b00;
    border-radius: 30px;
}

#showAll:hover {
    transform: scale(1.2);
    transition: .4s;
}

#page4 {
    height: 100vh;
    width: 100vw;
    background: url(/code/products/b39df120-21d5-47cb-a4ab-6d4b9b771b63.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

#page4 #box-in {
    height: 58vh;
    width: 32vw;
    background-color: #191718;
    /* top : 20vh; */
    margin-top: 6vh;
    /* padding-top: 20vh; */
    margin-left: 20vw;
    /* border:8px solid #f7f6f536; */
    background-color: #191718;
    box-shadow: 0 0 5px 10px #afadad93;

}

.text h2 {
    color: #EEEBEC;
    margin-top: 4vh;
    line-height: 1vh;
    margin-left: 1vw;
}

.P p {
    color: #676565;
    margin: 3vh;
}

.second-text h2 {
    color: #C3C1C2;
    text-align: start;
    margin-left: 1vw;
    margin-bottom: 2vh;
}

.boxs {
    display: flex;
    /* gap: 2vw; */
    justify-content: space-around;
}

.box-s {
    height: 12vh;
    width: 9vw;
    /* background-color: #ff7b00; */
}

#phela {
    background: url(/code/products/Merlot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;

}

#dusra {
    background: url(/code/products/See\ the\ Mahogany\ Velvet\ Fabric\ in\ your\ own….jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
}

#tisra {
    background: url(/code/products/This\ pattern\ is\ priced\ by\ the….jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
}

#names {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2.6vw;
    font-size: .8vw;
    color: #89827B;
}

#page5 {
    height: 63vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 55% 50%;
}

#about {
    background: #201E1F;

}

#about h1 {
    text-align: start;
    margin-left: 5.7vw;
    margin-top: 2vh;
    color: wheat;

}

#about p {
    margin-right: 1vw;
    margin-left: 6vw;
    margin-top: 5vh;
    color: #5B595A;
    font-size: 1.2rem;
}

#about button {
    height: 7vh;
    width: 10vw;
    margin-top: 2.9vh;
    margin-left: 6vw;
    background-color: #ff7300;
    font-size: 1.5vw;
    color: wheat;
    cursor: pointer;
}

#latest-news {
    background: #201E1F;

}

#latest-news h1 {
    margin-left: 12vw;
    margin-top: 2vh;
    color: wheat;
}

#latest-news p {
    margin-right: 8vw;
    margin-left: 12vw;
    margin-top: 5vh;
    color: #5B595A;
    font-size: 1.2rem;

}

#latest-news button {
    height: 7vh;
    width: 10vw;
    margin-top: 10vh;
    margin-left: 12vw;
    background-color: #ff7300;
    font-size: 1.5vw;
    color: wheat;
    cursor: pointer;

}

#page6 {
    height: 40vh;
    background: #0C0A0B;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 35%;
}

#page6 #logo {
    height: 50vh;
    color: rgb(153, 153, 153);
    margin-left: 2vw;
    /* background: #676565; */
}

#page6 #logo p {
    margin-top: 3vh;
    margin-right: 5vw;
}

#page6 .link {
    display: flex;
    font-size: .5ren;
    /* justify-content: center; */
    margin-top: 3vh;
    /* align-items: center;
    text-align: start; */
    flex-direction: column;
}

#page6 a {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

#page6 h1 {
    /* text-align: center; */
    margin-top: 3vh;
    color: rgb(119, 119, 119);
}

#page6 #sidemap {
    height: 40vh;
    color: wheat;
    /* background: #75ff7c; */
}

#page6 #fabrics {
    height: 40vh;
    color: wheat;
    /* background: #0cddd3; */
}

#page6 #products {
    height: 40vh;
    /* background: #f87e7e; */
}

#page6 #contact {
    height: 40vh;
    /* background: #641818; */
}

#add h4 {
    margin-right: 15vw;


}

.add i {
    font-size: 1.5vw;
}

#contact .add {
    display: flex;
    gap: 1vw;
    line-height: 3.6vh;
    color: rgb(128, 128, 128);
}

#page7 {
    height: 10vh;
    background: #2e2124;
    display: grid;
    justify-content: center;
    grid-template-columns: 60% 40%;
    align-items: center;
    color: rgb(128, 128, 128);
}

#page7 #condition {
    display: flex;
    justify-content: center;
    margin-left: 3vw;
    gap: 1vw;
}

#condition .copy {
    border-right: 2px solid gray;
    padding-right: 1vw;
}

#page7 .follow {
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

#page7 .follow i {
    font-size: 2vw;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    * {
        margin: 0;
        padding: 0;
    }

    #main {
        background-color: #201E1F;
        height: 100%;
        color: white;
    }

    .respon {

        display: flex;
        /* align-items: center; */
        justify-content: center;
    }

    .respon h1 {
        text-align: center;
        padding-left: 35vw;
        display: flex;
        align-items: center;
    }

    .respon i {
        display: block;
        margin-left: 27vw;
        /* margin-top: 2vh; */
        display: flex;
        align-items: center;
        font-size: 5vw;
    }

    #top-to-top-nav {
        display: none;
        border: 0;
        border-radius: 0;
        /* display: flex; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        margin-left: 5vw;
        padding-left: 6vw;
        background-color: transparent;
        padding-right: 30px;
    }

    #top-to-top-nav a {
        text-decoration: none;
        color: white;
        line-height: 7vw;
        flex-wrap: wrap;
    }

    #login-register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #top-down-nav {
        margin-top: 2vh;
        display: none;
        text-align: center;
        line-height: 3vh;
        margin-left: 2.5vw;
    }

    #top-down-nav .name {
        text-align: center;
        margin-left: 7vw;
        /* font-size: 10vw; */
    }

    #top-down-nav h3 {
        font-size: 5vw;
    }

    #top-down-nav a {
        line-height: 2vh;
        color: white;
        text-decoration: none;
        font-size: 2.8vw;
        margin-left: 7vw;
    }

    #top-down-nav input {
        margin-left: 10vw;
        width: 30vw;
        height: 1.4vh;
    }

    #page1 h2 {
        font-size: 6vw;
        color: #000;
        line-height: 5vh;
        padding-top: 55vh;
        padding-left: 26vw;

    }

    #page1 button {
        margin-top: 3vh;
        margin-left: 26vw;
        font-size: 2.6vw;
    }

    #page2 h2 {
        font-size: 2.6vw;
    }

    #page3 #showAll {
        font-size: 3vw;
        width: 50vw;
        margin-top: 5vh;
        margin-left: 25vw;
        padding: 0;
    }
    #page4{
        display: flex;
        align-items: normal;
    }
    #page4 #box-in {
        margin: 0%;
        padding: 0;
        width: 300vw;
    }
    #box-in .text{
        margin: 0;
        padding: 0;
    }
    #box-in .p{
        margin: 0;
        padding: 0;

    }
    #box-in .box-s{
        width: 20vw;
        height: 10vh;
    }
    #box-in #names{
        font-size: 2vw;
    }
    #box-in #mahon , #mer , #blank{
        margin-right: 3vw;
    }
    #page5 h1{
        font-size: 4vw;
        margin-left: vw;
        /* height: 100vh; */
    }
    #page5 p{
        font-size: 2.5vw;
        margin-top: 2vh;
    }
    #page5 button{
        width: 30vw;
        height: 5vh;
        font-size: 3vw;
    }
    #page6{
        height: 20vh;
        font-size: 1.4vw;
    }
    #page6 h1{
        margin-bottom: 2.7vh;
    }
    #page6 #contact{
        margin-left: 4vw;
    }
    #page6 #contact .add{
        line-height: 1vh;
    }
    #page7{
        font-size: 1.6vw;
        height: 6vh;
    }
}